{% extends 'base.html' %}

{%load static%}
{% block title %}Campañas{%endblock%}
{% block content%}



<div class="container">
    <div class="text-center my-4 mt-2 ">
        <div class="bg-light py-3 px-5 rounded">  
            <h4 class="fw-bold text-sixth">POTENCIA TUS HÁBITOS, VIVÍ SALUDABLE 🧡</h4> 
        </div>
    </div>
    
    <div class="border border-secondary my-4 mt-1">
       <div class="bg-light py-5 px-5 rounded">
            <div class="text-sixth">
                <h3 class="section-heading mx-3" >
                <span class="fw-bold  p-2">¿Sabías qué los hábitos saludables reducen hasta un 40% las posibilidades de padecer cualquier tipo de cáncer?</span><br>
                </h3>
            </div> <br>
    
            <h4 class="text-md-start lh-base">
            <span class="fw-normal text-muted">
                    - Consumir frutas y vegetales.<br>
                    - Disminuir la ingesta de carnes rojas y grasas animales.<br>
                    - Tomar sol 15 minutos al día.<br>
                    - Hacer 30" de ejercicio físico diariamente.<br>
                    - Evitar el tabaco y el consumo de alcohol.<br>
                    - Hidratarse con agua.
             </span>
            </h4>
            <br>
            <div class="text-sixth">
                <h3 class="section-heading mx-3" >
                    <span class="fw-semibold p-2">Algunos signos de deshidratación son:</span>
                </h3>
            </div> 
            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    - El color oscuro de la orina.<br>
                    - Piel seca.<br>
                    - Decaimiento físico.<br>
                    - Sed descontrolada.</span>
            </h4>       
            <br>  
            <div class="text-sixth">          
                <h4 class="section-heading mx-3" >
                <span class="fw-semibold  p-4">Una alimentación saludable es aquella que aporta los nutrientes esenciales y la energía que cada persona necesita para mantenerse sana. Los nutrientes son sustancias que ingresan a nuestro organismo a través de los alimentos cumpliendo una determinada función de nutrición indispensable para vivir con salud como por ejemplo: brindar energía. </span><br>
            </h4> 
        </div>
       </div>
    </div>
</div>


{% endblock content %}