{% extends 'base.html' %}

{%load static%}
{% block title %}Campañas{%endblock%}
{% block content%}

 

<div class="container">
    <div class="text-center my-4 mt-2 ">
        <div class="bg-light py-3 px-5 rounded">  
<h4 class="fw-bold text-first">"DETECTADO A TIEMPO PUEDE CURARSE EN 90% DE LOS CASOS"</h4> 
        </div>
    </div>

    <div class="border border-secondary my-4 mt-1">
       <div class="bg-light py-5 px-5 rounded">
            <div class= "text-first">
                <h3 class="section-heading" >
                <span class="fw-bold p-2">CÁNCER DE MAMAS</span><br>
                </h3> <br>
            </div>

            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                 El cáncer de mama es un tumor maligno que se origina en el tejido de las glándulas mamarias.
                 </span>
            </h4>
            <br>

            <div class= "text-first">
            <h3 class="section-heading mx-3" >
                <span class="fw-semibold p-2">¿Cuáles son los síntomas?</span>
            </h3>
            </div> 

            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                        El estado inicial suele ser asintomatico. Pero a medida que el tumor crece, puede cambiar la forma. Ante alguno de los siguientes cambios o sintomas en tus mamas consulta a tu médico:<br>
                        - Un bulto o protuberancia en una mama o axila.<br>
                        - Cambio en el tamaño o forma del pecho.<br>
                        - Hendiduras de la piel en la mama.<br>
                        - Secreción del pezón.</span>
            </h4>
            <br>

            <div class= "text-first">
            <h3 class="section-heading mx-3" >
                <span class="fw-semibold p-2">Se puede prevenir siguiendo estas recomendaciones:</span>
            </h3> 
            </div>

            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    - Alimentación saludable.<br>
                    - Evitar el sobrepeso.<br>
                    - Realizar activida fisica<br>
                    - No fumar.<br>
                    - Evitar el consumo de alcohol.<br>
                    - Realizar controles anuales de salud.
                 </span>
            </h4>
            <br>

            <div class= "text-first">
            <h3 class="section-heading mx-3" >
                <span class="fw-semibold p-2">Se puede detectar tempranamente con:</span>
            </h3> 
            </div>
            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    - Una mamografia anual a partir de los 40 años.<br>
                    - Ecografía mamaria.<br>
                    - Examen clínico.<br>
                    - Biopsia.
                </span>
            </h4>
            <br>
            <h4 class="fw-bold text-first  p-2">Hacete una mamografía al año. Un estudio a tiempo salva vidas 🧡</h4>
       </div>
    </div>
</div>



{% endblock content %}