{% extends 'base.html' %}

{%load static%}
{% block title %}Campañas{%endblock%}
{% block content%}



<div class="container">
        <div class="text-center my-4 mt-2 ">
            <div class="bg-light py-3 px-5 rounded">  
                <h4 class="fw-bold text-Third">"SI TENÉS MÁS DE 50 AÑOS NO LE TEMAS AL DEDO"</h4> 
             </div>
        </div>

        <div class="border border-secondary my-4 mt-1">
            <div class="bg-light py-5 px-5 rounded">

                <div class="text-Third">
                    <h3 class="section-heading" >
                        <span class="fw-bold  p-2">Cáncer de próstata</span><br>
                    </h3>
                </div> <br>
                    <h4 class="text-md-start lh-base">
                        <span class="fw-normal text-muted">
                        Es el crecimiento descontrolado de células anormales de la próstata, una glándula que solo tienen los hombres.
                        </span>
                    </h4>
                    <br>
                <div class="text-Third">
                    <h3 class="section-heading mx-3" >
                        <span class="fw-semibold  p-2">¿Cuáles son los sintomas?</span>
                    </h3> 
                </div>
                <h4 class="text-md-start lh-base">
                    <span class="fw-normal text-muted">
                    - Problemas al orinar como aumento en la frecuencia, flujo urinario débil y urgencia.<br>
                    - Sangrado en la orina.<br>
                    - Dolor pélvico o lumbar.<br>
                    - Incapacidad, más frecuente por la noche.</span>
                </h4>
                <br>
                <div class="text-Third">
                    <h3 class="section-heading mx-3" >
                    <span class="fw-semibold p-2">Se puede prevenir siguiendo estas recomendaciones:</span>
                    </h3> 
                 </div>
                <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    - Mantener un buen peso corporal.<br>
                    - Hacer actividad física.<br>
                    - Tener una alimentación saludable.
                 </span>
                </h4>
                <br>
                <div class="text-Third">
                    <h3 class="section-heading mx-3" >
                        <span class="fw-semibold  p-2">Se puede detectar tempranamente:</span>
                    </h3> 
                </div>
                <h4 class="text-md-start lh-base">
                    <span class="fw-normal text-muted">
                    - Tacto rectal.<br>
                    - Laboratorio PSA.<br>
                    - Consultar con el médico una vez al año.
                    </span>
                </h4>
                <br>
                <div class="text-Third">
                    <h3 class="section-heading mx-3" >
                        <span class="fw-semibold  p-2">¿Cuáles son los factores de riesgo?</span>
                    </h3> 
                </div>
                <h4 class="text-md-start lh-base">
                    <span class="fw-normal text-muted">
                    - Ser mayor a 50 años.<br>
                    - Antecedemtes familiares.
                    </span>
                </h4>
                <br>
                <h4 class="fw-bold text-Third  p-2">La detección temprana es posible, no postergues tus controles
                y hacé tu chequeo de rutina 🧡 </h4>
            </div>
        </div>
</div>



{% endblock content %}