{% extends 'base.html' %}

{%load static%}
{% block title %}Campañas{%endblock%}
{% block content%}



<div class="container">
    <div class="text-center my-4 mt-2 ">
        <div class="bg-light py-3 px-5 rounded">  
            <h5 class="fw-bold text-fourth">"SI TENES ENTRE 50/80 AÑOS Y SOS O FUISTE FUMADOR DURANTE MUCHOS AÑOS, NO PORTERGUES TU CONTROL"</h5> 
        </div>
    </div>
    
    <div class="border border-secondary my-4 mt-1">
      <div class="bg-light py-5 px-5 rounded">
            <div class="text-fourth">
            <h3 class="section-heading" >
                <span class="fw-bold  p-2">Cáncer de pulmón</span><br>
            </h3> 
            </div><br>
            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    El cáncer de pulmón es el crecimiento descontrolado de células anormales que se originan en los tejidos pulmonares.
                 </span>
            </h4>
            <br>
            <div class="text-fourth">
            <h3 class="section-heading" >
                <span class="fw-semibold  p-2">¿Cuáles son los sintomas más frecuentes?</span>
            </h3> 
            </div>
            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    - Tos persistente y/o con sangrado.<br>
                    - Dificultad para respirar.<br>
                    - Fatiga.<br>
                    - Cambio en la voz.<br>
                    - Dolor al respirar o toser.<br>
                    - Perdida de peso o falta de apetito.</span>
            </h4>
            <br>
            <div class="text-fourth">
            <h3 class="section-heading mx-3" >
                <span class="fw-semibold  p-2">¿Se puede prevenir el cáncer de pulmón?:</span>
            </h3> 
            </div>
            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    La mejor manera de prevenir es NO fumar o dejar de hacerlo. El tabaco es responsable del 84% de las muertes por cáncer de pulmón y cada día que se pasa sin fumar trae beneficios a la salud.  
                 </span>
            </h4>
            <br>
            <div class="text-fourth">
            <h3 class="section-heading mx-3" >
                <span class="fw-semibold  p-2">¿Se puede detectar tempranamente?</span>
            </h3> 
            </div>
            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    Es uno de los más difíciles a la hora de detectarlos tempranamente, pero se pueden realizr diagnósticos con estudios por imágenes según indicación médica como radiografía torácica o tomografía de baja radiación.
                </span>
            </h4>
            <br>
            <div class="text-fourth">
            <h3 class="section-heading mx-3" >
                <span class="fw-semibold  p-2">¿Cuáles son los factores de riesgo?</span>
            </h3> 
            </div>
            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    - Ser mayor a 50 años.<br>
                    - Antecedentes familiares.
                </span>
            </h4>
             <br>
            <h4 class="fw-bold text-fourth p-2">La detección temprana salva vidas 🧡 </h4>
      </div>
    </div>
</div>


















{% endblock content %}