{% extends 'base.html' %}

{%load static%}
{% block title %}Campañas{%endblock%}
{% block content%}



<div class="container">
    <div class="text-center my-4 mt-2 ">
        <div class="bg-light py-3 px-5 rounded">  
            <h4 class="fw-bold text-fifth">"DETECTADO A TIEMPO PUEDE CURARSE EN 90% DE LOS CASOS"</h4> 
        </div>
    </div>

    <div class="border border-secondary my-4 mt-1">
       <div class="bg-light py-5 px-5 rounded"> 
            <div class="text-fifth">
                <h3 class="section-heading" >
                    <span class="fw-bold  p-2">Cáncer de piel</span><br>
                </h3> <br>
            </div>
                <h4 class="text-md-start lh-base">
                <span class="fw-normal text-muted">
                    El cáncer de piel es una enfermedad producida por el desarrollo de células cancerosas en cualquiera de las capas y tejidos de la piel. Aunque puede aparecer en cualquier parte del cuerpo, es más frecuente que se presente en la cara, cuello, manos y brazos.
                    Existen dos tipos: el no melanoma y el melanoma.La mayoría de los cánceres de piel son del tipo no melanoma, pero el melanoma es el de mayor grado de malignidad.
                </span>
                </h4>
                <br>
            <div class="text-fifth">
             <h3 class="section-heading mx-3" >
                <span class="fw-semibold  p-2">¿Cuáles son los sintomas?</span>
                </h3> 
            </div>

            <h4 class="text-md-start lh-base">
                    <span class="fw-normal text-muted">
                     Los sintomas más comunes que pruduce el cáncer de piel son los cambios o alteraciones en los lunares. Estos pueden detectarse con la regla ABCDE:<br>
                        - Asimetria: la mitad de un lunar no es igual a la otra mitad.<br>
                        - Bordes irregulares: los bordes son desiguales, borrosos o poco definidos.<br>
                        - Color: la pigmentación no es uniforme, se observan cambios de color de una zona a otra del lunar.<br>
                        - Diametro: cuando el lunar mide más de 6 milímetros o se observan cambios de tamaño de un lunar.<br>
                        - Evolución: cambio en el aspecto, sea tamaño, color o espesor.
                    </span>
            </h4>
            <br>
            <div class="text-fifth">
                <h3 class="section-heading mx-3" >
                    <span class="fw-semibold  p-2">Se puede prevenir siguiendo estas recomendaciones:</span>
                </h3> 
            </div>
            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    - Moderá el bronceado recordá que el bronceado indica que el cuerpo ya alcanzó el límite de exposición al sol.<br>
                    - Ponete protector solar; utilizá protector solar de FPS (Factor de Protección Solar) más elevado como 50 o más, aplicándolo media hora antes de la exposición y renovándolo cada dos horas o luego del baño.<br>
                    - Evitá la exposición al sol entre las 10 y las 16 horas.Elegí lugares a la sombra. Evitá completamente la exposición solar de tu bebé menor de 1 año.<br>
                    - No te expongas a rayos UV artificiales ni uses camas solares para broncearte. Las dosis de UV artificiales se acumulan a las dosis de UV del sol y refuerzan el efecto cancerígeno.<br>
                    - Usar ropa liviana. Protegete del sol con ropas claras, sombreros y anteojos de sol.<br>
                    - Hacer tu control dermatologico anual.
                 </span>
            </h4>
            <br>
            
            <div class="text-fifth">
                <h3 class="section-heading mx-3" >
                    <span class="fw-semibold  p-2">Se puede detectar tempranamente:</span>
                </h3> 
            </div>
            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    - Control dermatologico anual.<br>
                    - Prueba de imagen. <br>
                    - Biopsia. <br>
                    - Autoexamen de la piel: no reemplaza la consulta profesional.     
                </span>
            </h4>
            <br>
            <h4 class="fw-bold text-fifth  p-2">Un chequeo a tiempo, salva vidas 🧡</h4>
                            
        </div>
    </div>
</div>


{% endblock content %}