{% extends 'base.html' %}

{%load static%}
{% block title %}Campañas{%endblock%}
{% block content%}



<div class="container">
    <div class="text-center my-4 mt-2 ">
        <div class="bg-light py-3 px-5 rounded">  
<h4 class="fw-bold text-second">"SE PUEDE PREVENIR REALIZANDO UN PAP, COLPOSCOPIA Y TEST DE VPH ANUAL"</h4> 
</div>
    </div>
    
    <div class="border border-secondary my-4 mt-1">
       <div class="bg-light py-5 px-5 rounded">
       <div class="text-second">
            <h3 class="section-heading" >
                <span class="fw-bold  p-2">Cáncer de cuello de útero</span><br>
            </h3> <br>
       </div>
            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    El cáncer de cuello de útero, también denominado "cáncer cervical" o "cáncer de cervix" es causado por un crecimiento anormal de las células del cuello de útero, ocasionado principalmente por algunos tipos de VPH, un virus que se transmite por contacto sexual.
                </span>
            </h4>
            <br>
            <div class="text-second">
            <h3 class="section-heading" >
                <span class="fw-semibold p-2">¿Cuáles son los sintomas?</span>
            </h3> 
            </div>
            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    Muchas veces no suele presentar síntomas por lo que es recomendable consultar a un médico ante signos como:
                    - Dolor pélvico.<br>
                    - Flujo vaginal inusual.<br>
                    - Dolor durante las relaciones sexuales.<br>
                    - Sangrado vaginal.</span>
            </h4>
            <br>
            <div class="text-second">
            <h3 class="section-heading mx-3" >
                <span class="fw-semibold  p-2">Se puede prevenir siguiendo estas recomendaciones:</span><br>
            </h3> 
            </div>
            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    - Realizate el PAP anual.<br>
                    - Evitá el tabaquismo.<br>
                    - Tené sexo seguro con la utilización del preservativo.<br>
                    - Vacunate contra el HPV.<br>
                    - Visita al ginecologo/a de forma periódica.
                 </span>
              </h4>
            <br>
            <div class="text-second">
            <h3 class="section-heading mx-3" >
                <span class="fw-semibold p-2">¿Se puede detectar tempranamente?:</span>
            </h3> 
            </div>
            <h4 class="text-md-start lh-base">
                 <span class="fw-normal text-muted">
                    Es vital realizarse estudios de rutina desde el inicio de las relaciones sexuales.<br>
                    - La prueba de Papanicolau.<br>
                    - La colposcopía.<br>
                    - El test de VPH.<br>
                    - Examen pelvico.<br>
                    - Legrado endocervical.<br>
                    - Biopsia.
                </span>
            </h4>
        <br>
        <h4 class="fw-bold text-second  p-2">Realizá tus chequeos, un estudio a tiempo salva vidas 🧡</h4>
      </div>
    </div>
</div>



















{% endblock content %}