{% extends 'base.html' %}

{%load static%}
{% block title %} Mision {%endblock%}
{% block content %}


<div class="container"><br>
  <div class="border border-secondary my-4 mt-5">
     <div class="bg-light py-5 px-5 rounded">
        <div class="colortitle">
          <h3 class="section-heading mx-3" >
             <span class="fw-bold p-4">Nuestra Misión</span><br>
          </h3> <br>
        </div>
         <h4 class="text-md-start lh-lg">
            <span class="fw-normal text-muted">
                * Fomentar <em>hábitos saludables</em>, a través de la educación y concientización a la población.<br>
                * Sumando voluntades podemos llegar a quienes necesitan tratamiento y reducir la mortalidad.<br>
                * La detección temprana y prevención de los tipos de cánceres <em>(mamas, útero, pulmón, piel y próstata)</em>.
            </span>
          </h4>
      
    </div>
  </div><br>


  <div class="border border-secondary my-4 mt-5">
    <div class="bg-light py-3 px-5 rounded"><br>
      <h4 class="text-md-start lh-lg">
        <span class="fw-normal text-muted">
            “Nuestra lucha diaria es contra un enemigo invisible pero previsible y la mejor manera de combatir el cáncer es trabajando sobre la prevención y detección temprana en toda la Argentina”
       </span> <br>
      </h4>
      <p class="fs-5 fw-light text-end"> Helena Larroque de Roffo</p>
      <p class="fs-6 fw-light text-end"> Fundadora de la Liga Argentina de Lucha Contra el Cáncer.</p>
    </div>
</div>
</div>


    

{% endblock%}
