{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}



<div class="row row-cols-5 row-cols-md-5 g-4" >

    {% for x in post%}
    <div class="col" style="margin-bottom: 47px;" >
      <a href="{% url 'post_detail' x.pk %}" >
        <div class="card h-100 borde">
          
          {% if x.imagen %}
          
          <img src="{{ x.imagen.url }}" class="card-img-top" style="height:150px" alt="...">
          {% else %}
          <img src="{% static 'img/sin-imagen_cool.jpg'%}" class="card-img-top" style="height:150px" alt="...">
          {% endif %}
      
          <div class="card-body">
            <h5 class="card-title">{{x.titulo}}</h5>
          </div>
          <ul class="list-group list-group-flush" >
            <li class="list-group-item">Creador: {{x.usuario.username.upper}}</li>
            {% if x.activo %}
            <li class="list-group-item" style="color:blue"><b>ACTIVO</b></li>
            {% else %}
            <li class="list-group-item" style="color:red"><b>NO ACTIVO</b></li>
            {% endif %}
            <li class="list-group-item">Creado: {{x.created}}</li>
            <li class="list-group-item">Modificado: {{x.updated}}</li>
          </ul>
        </div>
      </a>
      <div class="container-vista overflow-hidden">
        <div class="row">
          <a class="btn btn-default" style="background-color: rgba(52, 199, 22,0.5);" href="{% url 'post_edit' pk=x.pk %}" data-bs-toggle="tooltip" title="Editar Blog"><span class="glyphicon glyphicon-pencil"></span>&nbsp Editar</a><title>Editar</title>
          <a class="btn btn-default" style="background-color: rgba(247, 4, 4,0.5);" href="{% url 'post_delete' pk=x.pk %}" data-bs-toggle="tooltip" title="Eliminar Blog"><span class="glyphicon glyphicon-trash"></span>&nbspEliminar</a><title>Eliminar</title>
        </div>
      </div>
    </div>
    {% endfor %}

</div>



{% endblock %}